.popup__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 100%;
  padding: 10px 0 10px 3px;
  border: none;
  border-radius: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 19px;
  outline: none;
  transition: 0.2s ease-in-out;
}

.popup__input:focus {
  background-color: rgb(220, 255, 220);
}
