.profile__edit-button {
    background-image: url(../../../images/Edit_Button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    margin-left: 19px;
}

@media (max-width: 928px) {
  .profile__edit-button {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 600px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
