.profile__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media (max-width: 928px) {
  .profile__description {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 600px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
}