.element__like-button {
  background-image: url(../../../images/like_button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
}
